<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="763631841563-221ja0ig4cucql6hotelfkdt280b4hmj.apps.googleusercontent.com">
    <title>Google Authorisation</title>
</head>
<style>
*{
    padding: 0;
    margin: 0;
}
.main{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}
button{
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
</style>
<body>
    <div class="main">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div class="btn">
        <button onclick="signOut()">Sign Out</button>
        <a href="/profile"><button >Profile</button></a>
        <a href="/todo"><button >Todo</button></a>
    </div>
</div>
</body>
<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if(xhr.responseText=='success'){
                signOut()
                location.assign('https://floating-thicket-19922.herokuapp.com/profile')
            }
        };
        xhr.send(JSON.stringify({token:id_token}));
    }
</script>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

</html>